
*.pth
*.pt
*.tif
*.jpg
*.png
*.dll
datasets/
__pycache__/
# 忽略数据集目录
datasets/
train_result/
output_extractor/
demo/
GTA-UAV/
Sample4Geo/
SUES-200-Benchmark/
DAC/

# 忽略权重文件目录
checkpoints/
model_weights/
